In [2]:
import os
import sys
import urllib.request
import pandas as pd
import numpy as np
import json
from tqdm import tqdm_notebook
import re
import time

In [2]:
def clean_text(text):
    cleaned_text = re.sub(' ', '', text)
    cleaned_text = re.sub('\-\#', '', cleaned_text)
    cleaned_text = re.sub('[\{\}\[\]\/?,;:|\)*~`!^_+<>@$%\\\=\(\'\"]',
                          ' ', cleaned_text)
    return cleaned_text.strip()

In [248]:
df0 = pd.read_excel('./data/recal2data.xlsx')
brand = df0[['브랜드']].values.flatten()

array(['본죽', '한솥', '고봉민김밥人', ..., '쎄오1080', '명미트싸롱', '아가씨곱창'],
      dtype=object)

In [ ]:
json.loads(list)['items']

In [108]:
def get_list(url):
    client_id = "XIiNfsYBSZ_m9VkoPo7F"
    client_secret = "kpHd_lC9Rf"
    request = urllib.request.Request(url)
    request.add_header("X-Naver-Client-Id",client_id)
    request.add_header("X-Naver-Client-Secret",client_secret)
    response = urllib.request.urlopen(request)
    response_body = response.read()
    list=json.loads(response_body)
    return list

In [65]:
def IterJson(place):
    x = [clean_text(place['title']), place['category'], place['address'], place['roadAddress'], place['mapx'], place['mapy']]
    return x

In [62]:
encText = urllib.parse.quote("서울 "+brand[2])
url_base = "https://openapi.naver.com/v1/search/local.json?display=100&sort=comment"
url_query = "&query=" + encText
url = url_base + url_query

In [57]:
start=[]
place = []
for j in range(int(get_list(url)['total']/100)+1):
    start.append(j*100 + 1)
    url2 = url + "&start=" + str(start[j])
    list = get_list(url2)
    for i in range(len(list['items'])) :
        place.append(IterJson(list['items'][i]))

In [109]:
# place = []
for n in tqdm_notebook(range(len(brand[:]))):
    
    encText = urllib.parse.quote("서울 "+ brand[n])
    url_base = "https://openapi.naver.com/v1/search/local.json?display=100&sort=comment"
    url_query = "&query=" + encText
    url = url_base + url_query
    
    start=[]
    place = []
    
    for j in range(int(get_list(url)['total']/100)+1):
        start.append(j*100 + 1)
        url2 = url + "&start=" + str(start[j])
        list = get_list(url2)
        for i in range(len(list['items'])) :
            place.append(IterJson(list['items'][i]))
    time.sleep(1)
    
    places.extend(place)
    
#     39
#     907
#     882
#     199+1
#     419+1
#     832+1
#     301
#     46
#     209+1
#     304+1
#     129

HBox(children=(IntProgress(value=0, max=6), HTML(value='')))

In [ ]:
IterJson(list['items'][0])

In [194]:
df = pd.DataFrame(places, columns=['brand','category','address','road_address','mapx','mapy'])
df.to_excel('place_raw.xlsx')

In [213]:
df.brand = df.brand.replace(['',' ','  ','    '],np.nan)

In [216]:
np.unique(df.brand)

TypeError: '<' not supported between instances of 'str' and 'float'

In [215]:
df.dropna()

,brand,category,address,road_address,mapx,mapy
0,꽃마름 가좌역점,일식>샤브샤브,서울특별시 서대문구 북가좌동 487 성공타워상가 6층,서울특별시 서대문구 수색로 56 성공타워1,304175,552608
1,꽃마름 마곡점,일식>샤브샤브,서울특별시 강서구 마곡동 739-3 에스비타운 2층,서울특별시 강서구 마곡중앙5로 81 에스비타운,295829,552317
2,꽃마름 당산역점,일식>샤브샤브,서울특별시 영등포구 당산동5가 9-3,서울특별시 영등포구 당산로 205 당산역해링턴타워,302975,548424
3,꽃마름 미아점,음식점>뷔페,서울특별시 강북구 미아동 35-4 B1층,서울특별시 강북구 도봉로 34 트레지오빌딩 B1층,314622,557088
4,꽃마름 회전샤브&스시 방배역점,일식>샤브샤브,서울특별시 서초구 방배동 909-9,서울특별시 서초구 방배로 81 3층,311501,542648
5,꽃마름 본사,기업>프랜차이즈본사,"서울특별시 서대문구 창천동 451 외1필지 303,304호","서울특별시 서대문구 연희로 28 외1필지 303,304호",305444,551555
6,담소사골순대 강남점,"육류,고기요리>순대,순대국",서울특별시 강남구 역삼동 830-1 청송빌딩 1층,서울특별시 강남구 강남대로78길 24 청송빌딩 1층,314549,544119
7,담소사골순대 종각점,"육류,고기요리>순대,순대국",서울특별시 종로구 관철동 12-11,서울특별시 종로구 삼일대로15길 24,310638,552343
8,담소사골순대 방이점,"육류,고기요리>순대,순대국",서울특별시 송파구 방이동 64-11,서울특별시 송파구 오금로11길 8 외교빌딩,321352,546169
9,담소사골순대가산디지털점,"육류,고기요리>순대,순대국",서울특별시 금천구 가산동 60-11,서울특별시 금천구 디지털로9길 99 스타밸리,301577,542723
10,담소사골순대 구로디지털점,"육류,고기요리>순대,순대국",서울특별시 구로구 구로동 182-4,서울특별시 구로구 디지털로34길 27 대륭포스트타워3차,302742,543162
11,담소사골순대 서초점,"육류,고기요리>순대,순대국",서울특별시 서초구 서초2동 1341-5,서울특별시 서초구 효령로 418 우신서초빌딩,314376,543390
12,담소사골순대 굽은다리역점,"육류,고기요리>순대,순대국",서울특별시 강동구 길동 320-3,서울특별시 강동구 양재대로 1558,324452,549506
13,담소사골순대 광나루점,"육류,고기요리>순대,순대국",서울특별시 광진구 광장동 246-11 1층,서울특별시 광진구 천호대로 799 삼정물산,320900,549684
14,담소사골순대 가양점,"육류,고기요리>순대,순대국",서울특별시 강서구 가양동 52-7 B동 102호,서울특별시 강서구 양천로 401,298462,552046
15,담소사골순대 종로5가역점,"육류,고기요리>순대,순대국",서울특별시 종로구 종로5가 65,서울특별시 종로구 종로 225,312102,552585
16,담소사골순대 월곡역점,"육류,고기요리>순대,순대국",서울특별시 성북구 하월곡동 16-3,서울특별시 성북구 화랑로 102,315713,556100
17,담소사골순대 이수역점,"육류,고기요리>순대,순대국",서울특별시 서초구 방배동 421-1 세양아르비채 101동,서울특별시 서초구 서초대로 12 세양아르비채,310313,543066
18,담소사골순대 충무로점,"육류,고기요리>순대,순대국",서울특별시 중구 초동 34-4,서울특별시 중구 충무로 34,311241,551793
19,담소소사골순대 북창점,"육류,고기요리>순대,순대국",서울특별시 중구 태평로2가 54,서울특별시 중구 세종대로18길 6-1,309861,551780
20,담소소사골순대 사당점,"육류,고기요리>순대,순대국",서울특별시 동작구 사당동 1045-5,서울특별시 동작구 동작대로7길 95,309796,542178
21,담소소사골순대 압구정점,"육류,고기요리>순대,순대국",서울특별시 강남구 신사동 585-3,서울특별시 강남구 도산대로27길 40 동일빌딩 1층 담소소사골순대 압구정점,314249,547143
22,담소소사골순대 성수시그마밸리점,"육류,고기요리>순대,순대국",서울특별시 성동구 성수동2가 325-2,서울특별시 성동구 성수이로 51 서울숲한라시그마밸리 109호,316696,549098
23,담소소사골순대 문정점,"육류,고기요리>순대,순대국",서울특별시 송파구 문정동 641-4,"서울특별시 송파구 법원로 127 1층 119, 120호",322272,543082
24,담소소사골순대 역삼1호점,"육류,고기요리>순대,순대국",서울특별시 강남구 역삼동 828-22,서울특별시 강남구 논현로85길 59,314716,544392
25,담소소사골순대 신정역남부법원점,"육류,고기요리>순대,순대국",서울특별시 양천구 신정동 982-8,서울특별시 양천구 신월로 349 1층,299416,547273
26,담소소사골순대 암사점,"육류,고기요리>순대,순대국",서울특별시 강동구 암사동 504-37,서울특별시 강동구 올림픽로 807,323180,550462
27,담소소사골순대 가산3호점,"육류,고기요리>순대,순대국",서울특별시 금천구 가산동 481-4 벽산디지털밸리 6차 109호,서울특별시 금천구 가산디지털1로 219 벽산디지털밸리6차,301062,543073
28,담소사골순대 포이점,"육류,고기요리>순대,순대국",서울특별시 서초구 양재동 276-3,서울특별시 서초구 논현로19길 11 승비빌딩,315714,542021
29,담소사골순대 신사1호점 담소소사골순대,"육류,고기요리>순대,순대국",서울특별시 강남구 신사동 510-11,서울특별시 강남구 압구정로2길 46,313630,546743
...,...,...,...,...,...,...
51633,한량석쇠 종로점,한식>돼지고기구이,서울특별시 종로구 관철동 27-5,서울특별시 종로구 삼일대로 388-10 코원빌딩,310830,552351
51634,한량석쇠,한식>돼지고기구이,서울특별시 영등포구 당산동3가 228-1,서울특별시 영등포구 당산로32길 10,302781,547691
51635,한량,술집>이자카야,서울특별시 강남구 역삼동 831-29 2층,서울특별시 강남구 역삼로3길 17-4 2층,314491,544068
51636,한량,술집>요리주점,서울특별시 동대문구 답십리동 241-8,서울특별시 동대문구 답십리로 147,316860,552733
51637,한량석쇠집,한식>돼지고기구이,서울특별시 영등포구 당산동3가 228-1,서울특별시 영등포구 당산로32길 10,302780,547695
51638,한량사,엔터테인먼트>연예기획사,서울특별시 성동구 성수동2가 321-93 3층,서울특별시 성동구 성수이로7가길 21-17,316689,549310
51639,서대문한량돼지,한식>돼지고기구이,서울특별시 서대문구 충정로2가 185-15,서울특별시 서대문구 충정로7길 30,308606,551805
51640,바푸리포 베트남쌀국수,음식점>베트남음식,서울특별시 강남구 역삼동 635-17,서울특별시 강남구 테헤란로5길 24,314351,544672
51641,달테이블 이대점,음식점>퓨전음식,서울특별시 서대문구 대현동 60-7,서울특별시 서대문구 이화여대8길 3 연화프라자,307084,551267
51642,온천골,한식>냉면,서울특별시 노원구 하계1동 256-15 부광빌딩 101호,서울특별시 노원구 노원로 254,318434,560163
51643,남성골,"한식>칼국수,만두",서울특별시 동작구 사당동 318-5,서울특별시 동작구 사당로 248,309568,542819
51644,왕산골왕만두,분식>만두,서울특별시 중구 남대문로4가 3-3 1층,서울특별시 중구 남대문시장길 25-8,309856,551420
51645,가메골 손만두,분식>만두,서울특별시 노원구 상계동 455,서울특별시 노원구 한글비석로 460 106호 가메골손만두,317884,562868
51646,토성골버섯칼국수,"한식>칼국수,만두",서울특별시 영등포구 대림동 604-174,서울특별시 영등포구 도신로9길 3-1,302668,545353
51647,석수골 바지락칼국수,"한식>칼국수,만두",서울특별시 노원구 하계동 208-34,서울특별시 노원구 공릉로 358-5 2층,318121,560029
51648,별대포,술집>포장마차,서울특별시 성북구 삼선동2가 18,서울특별시 성북구 삼선교로 37,312763,554475
51649,아메리칸존슨,음식점>햄버거,서울특별시 광진구 군자동 98,서울특별시 광진구 능동로 209,318367,550324
51650,철인7호,"음식점>치킨,닭강정",서울특별시 마포구 서교동 402-4 지1층,서울특별시 마포구 양화로6길 99-3 지1층,304746,550144
51651,오마이치킨 성북역점,"음식점>치킨,닭강정",서울특별시 노원구 월계동 414-2 1층 7호,서울특별시 노원구 석계로 98-1,317320,558320
51652,대박치킨,"음식점>치킨,닭강정",서울특별시 영등포구 여의도동 11-1 초원상가 지하7호,서울특별시 영등포구 국회대로76가길 11,305091,548175
51653,고래치킨,"음식점>치킨,닭강정",서울특별시 성동구 금호동1가 1756-1 7호,서울특별시 성동구 금호로 86 조의원,314111,550326
51654,배달5삼겹,"한식>육류,고기요리",서울특별시 송파구 마천동 35-5,서울특별시 송파구 거마로 65 극일빌딩,324744,544422
51655,배달5삼겹 문정가락점,음식점>한식,서울특별시 송파구 마천동 35-5,서울특별시 송파구 거마로 65,324744,544418
51656,화적단 약수점,"한식>육류,고기요리",서울특별시 중구 신당동 374-16,서울특별시 중구 동호로12길 6,312777,550832
51657,오름,"한식>육류,고기요리",서울특별시 노원구 공릉동 441-136 오름,서울특별시 노원구 동일로192길 85,318762,558768
51658,화적단 어린이대공원점,음식점>한식,서울특별시 광진구 화양동 18-25,서울특별시 광진구 동일로30길 49,318024,549896
51659,화적단 한양대점,"한식>육류,고기요리",서울특별시 성동구 행당동 1-68,서울특별시 성동구 마조로7길 8,315421,551397
51660,화적단,"한식>육류,고기요리",서울특별시 강북구 수유동 229-20,서울특별시 강북구 노해로8길 34,314111,560017
51661,화적단 마천점,"한식>육류,고기요리",서울특별시 송파구 마천동 162-8,서울특별시 송파구 성내천로 228,325276,544471
51662,화적단,"한식>육류,고기요리",서울특별시 송파구 마천동 162-8,서울특별시 송파구 성내천로 228,325275,544470

In [196]:
len(df)

51663

In [217]:
df.to_excel('place_raw_!.xlsx')

In [135]:
a = df['category'][3].split('>')

In [137]:
a[1]

'뷔페'

In [142]:
for i in tqdm_notebook(range(len(df))):
    a = df['category'][i].split('>')
    if len(a) == 2:
        df['item'][i] = a[1]
        df['type'][i] = a[0]
    else :
        df['type'][i] = a[0]

HBox(children=(IntProgress(value=0, max=51663), HTML(value='')))

In [145]:
np.unique(df['type'].values)

array(['', '가구', '가구,인테리어', '가정,생활용품', '개신교', '갤러리카페', '건강,의료', '건설업',
       '게임', '공공,사회기관', '광고,마케팅', '교습학원', '교육,학문', '교육원,교육센터', '교통,운수',
       '교통,운수서비스', '교통시설', '금융,보험', '금융서비스', '기계,장비제조', '기업', '기업,빌딩',
       '다이어트,비만', '대학교', '도로시설', '도서,음반,문구', '도서관', '도시락,컵밥', '레저,테마',
       '마사지,지압', '무역', '무예,격투기', '문화,예술', '문화,유적', '문화시설', '물류,유통', '미용',
       '버스회사', '번역,통역서비스', '병원,의원', '보험', '부동산', '분식', '뷔페', '사진,스튜디오',
       '사회,복지', '생활,편의', '서비스,산업', '설계,엔지니어링', '세차', '세탁', '소프트웨어개발',
       '손해,화재보험', '손해사정', '쇼핑,유통', '쇼핑,편의시설', '수리,AS', '수선', '숙박', '술집',
       '스포츠,레크레이션학원', '스포츠,오락', '스포츠시설', '스포츠용품', '시설,건물', '식료품', '신발',
       '신용조합', '안경원', '애완동물', '양식', '어학원', '엔터테인먼트', '여객,화물운송', '여행,명소',
       '연애,결혼', '영,유아,아동', '영상,오디오,방송', '오락,레저용품', '오락시설', '유아학습',
       '육류,고기요리', '음식', '음식점', '음악학원', '이탈리아음식', '인력공급,고용알선', '인쇄업', '일식',
       '임대,대여', '임신,출산', '자동차', '자동차정비,수리', '장례', '재활용', '전문,기술서비스',
       '전문대학', '전문디자인', '전시,판매', '제조업', '종교', '종합도소매', '주택', '중개,알선',
       '중식', '중학교', '지불,결제대행', '지원,대행', '직업,기술학원', '채권', '천주교', '청소',
       '출판사', '취미학원', '치료,상담', '친목,모임', '침구,커튼', '카페,디저트', '캐주얼웨어',
       '컴퓨터프로그래밍,정보서비스업', '키즈카페,실내놀이터', '테마카페', '테마파크', '텔레비전방송', '통신',
       '패션', '패션잡화', '피부,체형관리', '하수,폐기물,환경', '학원', '한식', '해물,생선요리',
       '행정안전부', '협회,단체', '호텔', '화물운송', '휴대폰'], dtype=object)

In [164]:
clist = ['도시락,컵밥', '분식', '뷔페', '술집', '식료품','양식', '육류,고기요리', '음식', '음식점', '일식', '중식', '카페,디저트',
         '테마카페', '한식', '해물,생선요리',]
cpd = pd.DataFrame(clist, columns=['type'])

In [166]:
dff = pd.merge(df, cpd, on='type', how='inner')
dff.to_excel('places.xlsx')

['brand',
 'category',
 'address',
 'road_address',
 'mapx',
 'mapy',
 'item',
 'type',
 'place',
 'name',
 'brand',
 'category',
 'address',
 'road_address',
 'mapx',
 'mapy',
 'item',
 'type',
 'place',
 'name',
 'brand',
 'category',
 'address',
 'road_address',
 'mapx',
 'mapy',
 'item',
 'type',
 'place',
 'name',
 'brand',
 'category',
 'address',
 'road_address',
 'mapx',
 'mapy',
 'item',
 'type',
 'place',
 'name',
 'brand',
 'category',
 'address',
 'road_address',
 'mapx',
 'mapy',
 'item',
 'type',
 'place',
 'name',
 'brand',
 'category',
 'address',
 'road_address',
 'mapx',
 'mapy',
 'item',
 'type',
 'place',
 'name',
 'brand',
 'category',
 'address',
 'road_address',
 'mapx',
 'mapy',
 'item',
 'type',
 'place',
 'name',
 'brand',
 'category',
 'address',
 'road_address',
 'mapx',
 'mapy',
 'item',
 'type',
 'place',
 'name',
 'brand',
 'category',
 'address',
 'road_address',
 'mapx',
 'mapy',
 'item',
 'type',
 'place',
 'name',
 'brand',
 'category',
 'address',
 'road_address',
 'mapx',
 'mapy',
 'item',
 'type',
 'place',
 'name',
 'brand',
 'category',
 'address',
 'road_address',
 'mapx',
 'mapy',
 'item',
 'type',
 'place',
 'name',
 'brand',
 'category',
 'address',
 'road_address',
 'mapx',
 'mapy',
 'item',
 'type',
 'place',
 'name',
 'brand',
 'category',
 'address',
 'road_address',
 'mapx',
 'mapy',
 'item',
 'type',
 'place',
 'name',
 'brand',
 'category',
 'address',
 'road_address',
 'mapx',
 'mapy',
 'item',
 'type',
 'place',
 'name',
 'brand',
 'category',
 'address',
 'road_address',
 'mapx',
 'mapy',
 'item',
 'type',
 'place',
 'name']

In [152]:
for i in tqdm_notebook(range(len(df))):
    a = df['brand'][i].split(' ')
    if len(a) > 1:
        df['place'][i] = a[1]
        df['name'][i] = a[0]
    else :
        df['name'][i] = a[0]

HBox(children=(IntProgress(value=0, max=51663), HTML(value='')))

In [218]:
df = pd.read_excel('./data/mid_place.xlsx',index_col=0)

In [111]:
list = get_list(url)

In [219]:
df['name']

0                 꽃마름
1                 꽃마름
2                 꽃마름
3                 꽃마름
4         꽃마름 회전샤브&스시
6              담소사골순대
7              담소사골순대
8              담소사골순대
9        담소사골순대가산디지털점
10             담소사골순대
11             담소사골순대
12             담소사골순대
13             담소사골순대
14             담소사골순대
15             담소사골순대
16             담소사골순대
17             담소사골순대
18             담소사골순대
19            담소소사골순대
20            담소소사골순대
21            담소소사골순대
22            담소소사골순대
23            담소소사골순대
24            담소소사골순대
25            담소소사골순대
26            담소소사골순대
27            담소소사골순대
28             담소사골순대
29       담소사골순대 신사1호점
30            담소소사골순대
             ...
51632            한량석쇠
51633            한량석쇠
51634            한량석쇠
51635              한량
51636              한량
51637           한량석쇠집
51639         서대문한량돼지
51640            바푸리포
51641            달테이블
51642             온천골
51643             남성골
51644          왕산골왕만두
51645             가메골
51646        토성골버섯칼국수
51647             석수골
51648             별대포
51649          아메리칸존슨
51650            철인7호
51651           오마이치킨
51652            대박치킨
51653            고래치킨
51654           배달5삼겹
51655           배달5삼겹
51656             화적단
51657              오름
51658             화적단
51659             화적단
51660             화적단
51661             화적단
51662             화적단
Name: name, Length: 46134, dtype: object

In [17]:
df = pd.read_excel('./data/dataplc.xlsx')

In [18]:
def trans_adds(add):
    client_id = "GchMYrs8q79adXEdENbw"
    client_secret = "aspsAFfrKJ"
    encText = urllib.parse.quote(add)
    url = "https://openapi.naver.com/v1/map/geocode?query=" + encText
    request = urllib.request.Request(url)
    request.add_header("X-Naver-Client-Id",client_id)
    request.add_header("X-Naver-Client-Secret",client_secret)
    response = urllib.request.urlopen(request)
    response_body = response.read()
    list = json.loads(response_body)
    return list['result']['items'][0]['point']

In [19]:
trans_adds(df['road_address'][0])

{'x': 126.9128052, 'y': 37.5707261}

In [20]:
' '.join(df['road_address'][0].split()[:-1])

'서울특별시 서대문구 수색로 56'

In [21]:
np.unique(df['address'])

array(['서울특별시 강남구 개포2동 158-4 1층', '서울특별시 강남구 개포4동 1217-6',
       '서울특별시 강남구 개포4동 1218-30', ..., '서울특별시 중랑구 중화동 326-165',
       '서울특별시 중랑구 중화동 329-142', '서울특별시 중랑구 중화동 455'], dtype=object)

In [22]:
len(df)

28754

In [ ]:
df['x']=''
df['y']=''
for i in tqdm_notebook(range(len(df[:]))):
    try:
        add = ' '.join(df['road_address'][i].split()[:-1])
        df['x'][i] = trans_adds(add)['x']
        df['y'][i] = trans_adds(add)['y']
    except : 
        pass
#     638+1
#     1126+1
#     587+1
#     746+1
#     195+1

HBox(children=(IntProgress(value=0, max=28754), HTML(value='')))

C:\Users\ce401Prof\bigdata\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\ce401Prof\bigdata\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [245]:
639+1129+588+747+196

3299

In [ ]:
df.head()

In [ ]:
df[200:]
df[[]]

In [ ]:
latlng = []
for n in tqdm_notebook(list):