In [2]:
import numpy as np
import pandas as pd

In [16]:
brand1 = pd.read_excel('../data/2017년_성장성.xlsx',encoding='utf-8') 
brand2 = pd.read_excel('../data/2017년_수익성.xlsx',encoding='utf-8')
brand3 = pd.read_excel('../data/2017년_안정성.xlsx',encoding='utf-8')

In [3]:
brand1.drop(brand1[brand1['0'] == '평균'].index, inplace=True)

In [21]:
brand1.head(10)

,0,1,2,3,4,5,6,중분류
0,(주)푸드젠코리아,NaN,NaN,0,산출불가,산출불가,산출불가,한식
1,박창우푸드,NaN,NaN,0,산출불가,산출불가,산출불가,한식
2,(주)오리엔탈푸드코리아,NaN,NaN,0,산출불가,산출불가,산출불가,한식
3,(주)가우정푸드,NaN,NaN,0,산출불가,산출불가,산출불가,한식
4,(주)이코르코리아,NaN,NaN,0,산출불가,산출불가,산출불가,한식
5,(주)이랜드파크,877994991.0,805448929.0,-13042395,-0.0007,0.1106,적자지속,한식
6,(주)더본코리아,71249205.0,174871404.0,19762485,0.0053,0.4118,0.8008,한식
7,(주)놀부,115721457.0,120371880.0,4471312,-0.0642,0.0061,0.7167,한식
8,(주)한솥,37177993.0,93450170.0,7537969,0.0607,0.0869,-0.039,한식
9,원앤원(주),54734143.0,75335571.0,1906415,0.3139,-0.0176,0.2804,한식

In [ ]:
상호수익성자본   당기순이익   영업이익률(영업이익/매출액)   매출액순이익률(당기순이익/매출액)   자기자본순이익률(당기순이익/자본)

In [5]:
brand2.drop(brand2[brand2['0'] == '평균'].index, inplace=True)

In [20]:
brand2.head(10)

,0,1,2,3,4,5,6,7,중분류
0,(주)푸드젠코리아,0,0,0,0,산출불가,산출불가,산출불가,한식
1,박창우푸드,0,0,0,0,산출불가,산출불가,산출불가,한식
2,(주)오리엔탈푸드코리아,0,0,0,0,산출불가,산출불가,산출불가,한식
3,(주)가우정푸드,0,0,0,0,산출불가,산출불가,산출불가,한식
4,(주)이코르코리아,0,0,0,0,산출불가,산출불가,산출불가,한식
5,(주)이랜드파크,182970099,805448929,-13042395,-80415701,-0.0162,-0.0998,-0.4395,한식
6,(주)더본코리아,43877341,174871404,19762485,19246939,0.113,0.1101,0.4387,한식
7,(주)놀부,63335038,120371880,4471312,34729,0.0371,0.0003,0.0005,한식
8,(주)한솥,27971200,93450170,7537969,5937412,0.0807,0.0635,0.2123,한식
9,원앤원(주),31660428,75335571,1906415,1050809,0.0253,0.0139,0.0332,한식

In [8]:
brand3.drop(brand3[brand3['0'] == '평균'].index, inplace=True)

In [22]:
brand3.head(10)

              0          1          2          3       4       5  6 중분류
0     (주)푸드젠코리아          0          0          0  완전자본잠식  완전자본잠식  0  한식
1         박창우푸드          0          0          0  완전자본잠식  완전자본잠식  0  한식
2     (주)이코르코리아          0          0          0  완전자본잠식  완전자본잠식  0  한식
3        코레아경양식          0          0          0  완전자본잠식  완전자본잠식  0  한식
4  (주)오리엔탈푸드코리아          0          0          0  완전자본잠식  완전자본잠식  0  한식
5          한신푸드          0          0          0  완전자본잠식  완전자본잠식  0  한식
6      (주)가우정푸드          0          0          0  완전자본잠식  완전자본잠식  0  한식
7        (주)국순당  200077410  183188542   16888868  0.0922  0.9156  0  한식
8      (주)이랜드파크  877994991  182970099  695024892  3.7986  0.2084  0  한식
9         (주)놀부  115721457   63335038   52386419  0.8271  0.5473  1  한식

In [37]:
brand1.columns = ['상호', '자산','매출액', '영업이익', '총자산증가율', '매출액증가율', '영업이익증가율','중분류']
brand2.columns = ['상호_2','자본','매출액_2','영업이익_2','당기순이익','영업이익률(영업이익/매출액)','매출액순이익률(당기순이익/매출액)','자기자본순이익률(당기순이익/자본)','중분류_2']
brand3.columns = ['상호_3','자산_2','자본_2','부채','부채비율(부채/자본)','자기자본비율(자본/자산)','법위반횟수(최근3년)','중분류_3']

In [30]:
brand1.shape, brand2.shape, brand3.shape

((2694, 8), (2694, 9), (2694, 8))

In [38]:
brand12 = pd.merge(brand1,brand2, left_on=["중분류",'상호'], right_on=["중분류_2",'상호_2'], how="left")
brand123 = pd.merge(brand12,brand3, left_on=["중분류",'상호'], right_on=["중분류_3",'상호_3'], how="left")
del brand123['상호_2']
del brand123['상호_3']
del brand123['중분류_2']
del brand123['중분류_3']
del brand123['자본_2']
del brand123['자산_2']
del brand123['매출액_2']
del brand123['영업이익_2']
# #del b2016['중분류_2']
# #del b2016['중분류_3']
brand123.shape

(2694, 17)

In [39]:
brand123.head(10)

,상호,자산,매출액,영업이익,총자산증가율,매출액증가율,영업이익증가율,중분류,자본,당기순이익,영업이익률(영업이익/매출액),매출액순이익률(당기순이익/매출액),자기자본순이익률(당기순이익/자본),부채,부채비율(부채/자본),자기자본비율(자본/자산),법위반횟수(최근3년)
0,(주)푸드젠코리아,NaN,NaN,0,산출불가,산출불가,산출불가,한식,0,0,산출불가,산출불가,산출불가,0,완전자본잠식,완전자본잠식,0
1,박창우푸드,NaN,NaN,0,산출불가,산출불가,산출불가,한식,0,0,산출불가,산출불가,산출불가,0,완전자본잠식,완전자본잠식,0
2,(주)오리엔탈푸드코리아,NaN,NaN,0,산출불가,산출불가,산출불가,한식,0,0,산출불가,산출불가,산출불가,0,완전자본잠식,완전자본잠식,0
3,(주)가우정푸드,NaN,NaN,0,산출불가,산출불가,산출불가,한식,0,0,산출불가,산출불가,산출불가,0,완전자본잠식,완전자본잠식,0
4,(주)이코르코리아,NaN,NaN,0,산출불가,산출불가,산출불가,한식,0,0,산출불가,산출불가,산출불가,0,완전자본잠식,완전자본잠식,0
5,(주)이랜드파크,877994991.0,805448929.0,-13042395,-0.0007,0.1106,적자지속,한식,182970099,-80415701,-0.0162,-0.0998,-0.4395,695024892,3.7986,0.2084,0
6,(주)더본코리아,71249205.0,174871404.0,19762485,0.0053,0.4118,0.8008,한식,43877341,19246939,0.113,0.1101,0.4387,27371864,0.6238,0.6158,0
7,(주)놀부,115721457.0,120371880.0,4471312,-0.0642,0.0061,0.7167,한식,63335038,34729,0.0371,0.0003,0.0005,52386419,0.8271,0.5473,1
8,(주)한솥,37177993.0,93450170.0,7537969,0.0607,0.0869,-0.039,한식,27971200,5937412,0.0807,0.0635,0.2123,9206793,0.3292,0.7524,0
9,원앤원(주),54734143.0,75335571.0,1906415,0.3139,-0.0176,0.2804,한식,31660428,1050809,0.0253,0.0139,0.0332,23073715,0.7288,0.5784,0

In [40]:
brand123.columns

Index(['상호', '자산', '매출액', '영업이익', '총자산증가율', '매출액증가율', '영업이익증가율', '중분류', '자본',
       '당기순이익', '영업이익률(영업이익/매출액)', '매출액순이익률(당기순이익/매출액)', '자기자본순이익률(당기순이익/자본)',
       '부채', '부채비율(부채/자본)', '자기자본비율(자본/자산)', '법위반횟수(최근3년)'],
      dtype='object')

In [41]:
brand123.to_excel("20172.xlsx",index=False)