In [1]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
from urllib.request import urlopen

In [2]:
from tqdm import tqdm_notebook
from selenium import webdriver
import time

In [4]:
driver = webdriver.Chrome('../../../driver/chromedriver')
driver.get("http://franchise.ftc.go.kr/user/extra/main/70/firHope/listBrand/jsp/LayOutPage.do")

In [5]:
year_list_raw = driver.find_element_by_xpath("""//*[@id="selYear"]""")
year_list = year_list_raw.find_elements_by_tag_name("option")
year_names_values = [option.text for option in year_list]
year_names_values = year_names_values[:]
year_names_values

['2017', '2016', '2015']

In [10]:
indus_list_raw = driver.find_element_by_xpath("""//*[@id="selIndus"]""")
indus_list = indus_list_raw.find_elements_by_tag_name("option")
indus_names_values = [option.text for option in indus_list]
indus_names_values = indus_names_values[1:]
indus_names_values

['한식',
 '분식',
 '중식',
 '일식',
 '서양식',
 '기타 외국식',
 '패스트푸드',
 '치킨',
 '피자',
 '제과제빵',
 '아이스크림/빙수 ',
 '커피',
 '음료 (커피 외)',
 '주점',
 '기타 외식']

In [11]:
report_list_raw = driver.find_element_by_xpath("""//*[@id="selListType"]""")
report_list = report_list_raw.find_elements_by_tag_name("option")
report_names_values = [option.text for option in report_list]
report_names_values = report_names_values[:]
report_names_values

['브랜드 개요', '가맹점 현황 정보', '가맹점 창업비용']

In [43]:
r = []
length = [6, 9, 10]
k=2
year = driver.find_element_by_id("selYear") #년도
year.send_keys(year_names_values[0])
    
for j in range(0,len(indus_names_values)):
    indus = driver.find_element_by_id("selIndus") #업종 중분류
    indus.send_keys(indus_names_values[j])
        
#    for k in range(0,len(report_names_values)):
    report = driver.find_element_by_id("selListType") #비교항목
    report.send_keys(report_names_values[2])
    driver.find_element_by_xpath("""//*[@id="frmSearch"]/input[5]""").click()
            
    html=driver.page_source
    soup=BeautifulSoup(html,'html.parser')
            
    print(report_names_values[2])####

    rows = []        
    for row in range(int(len(soup.find_all('td'))/length[k])):
        row1 = []

        for i in range(0+(row*length[k]), length[k]+(row*length[k])) :
            tmp = soup.find_all('td')[i].get_text()
            tmp = tmp.replace('\n','')
            tmp = tmp.replace('\t','')
            tmp = tmp.replace('\xa0','')

            row1.append(tmp)
        rows.append(row1)
    r.append(rows)
    print(indus_names_values[j], 'done!')

가맹점 창업비용
한식 done!
가맹점 창업비용
분식 done!
가맹점 창업비용
중식 done!
가맹점 창업비용
일식 done!
가맹점 창업비용
서양식 done!
가맹점 창업비용
기타 외국식 done!
가맹점 창업비용
패스트푸드 done!
가맹점 창업비용
치킨 done!
가맹점 창업비용
피자 done!
가맹점 창업비용
제과제빵 done!
가맹점 창업비용
아이스크림/빙수  done!
가맹점 창업비용
커피 done!
가맹점 창업비용
음료 (커피 외) done!
가맹점 창업비용
주점 done!
가맹점 창업비용
기타 외식 done!

In [44]:
tmp = 0
for i in range(len(r)) :
    tmp += len(r[i])
tmp

4347

In [45]:
pd.DataFrame(r[0])

,0,1,2,3,4,5,6,7,8,9
0,평균,-,"8,774","3,801","3,474","94,860","110,910(1.00)","1,651",118,"55,244"
1,누들박스,(주)누들박스,"19,800","16,500","20,000","1,143,500","1,199,800(10.82)","2,750",66,"55,000"
2,포항물회,햇살바다(주),"5,500","2,200","3,000","760,300","771,000(6.95)","1,650",66,"33,000"
3,G글G글오돌구이,(주)나눔에프씨,"11,000","5,500","3,000","731,150","750,650(6.77)","1,760",66,"35,200"
4,하누소,(주)하누소푸드시스템,"33,000","1,100","20,000","681,670","735,770(6.63)","2,420",495,"363,000"
5,무한한판8.8,(주)조은세상에프앤씨,"11,000","3,300","3,000","634,500","651,800(5.88)","16,500",99,"495,000"
6,프리-엠베네치아(PRE-m 베네치아),에프앤에프베네치아,"17,500","5,500","5,000","580,000","608,000(5.48)","2,420",495,"363,000"
7,풀잎채,(주)풀잎채,"55,000",0,"10,000","523,689","588,689(5.31)","2,552",379.5,"293,480"
8,날마다대박나는집,(주)명진푸드,"5,500","3,300",0,"541,200","550,000(4.96)","2,200",495,"330,000"
9,다담골,에프앤에프베네치아,"17,500","5,500","5,000","494,000","522,000(4.71)","2,420",495,"363,000"
10,토끼정,(주)토끼정,"33,000","22,000",0,"421,300","476,300(4.29)","3,135",264,"250,800"
11,백년갈비,예스람,"22,000","11,000","5,000","407,000","445,000(4.01)","3,300",330,"330,000"
12,불끈낙지,예스람,"22,000","11,000","5,000","407,000","445,000(4.01)","3,300",330,"330,000"
13,꽃마름,(주)예울에프씨,"16,500","11,000","2,000","395,000","424,500(3.83)","1,300",495,"195,000"
14,다담뜰 한식뷔페,(주)다담뜰,"27,500","38,500","10,000","348,150","424,150(3.82)","1,595",429,"207,350"
15,엔테이블(nTable),(주)놀부,"10,450","5,500","10,000","397,100","423,050(3.81)","1,936",330,"193,600"
16,참한상 쭈꾸미,(주)참한세상,"11,000","5,500","3,000","390,500","410,000(3.70)","1,650",198,"99,000"
17,심민속촌,에코푸드(주),"24,200","11,000","20,000","339,900","395,100(3.56)","1,687",495,"253,000"
18,일편등심,에스에이치푸드,"5,500","2,200","5,000","376,200","388,900(3.51)","1,760",396,"211,200"
19,나정상회,나정상회,"16,500","5,500","30,000","319,000","371,000(3.35)","2,200",330,"220,000"
20,육칠팔,(주)육칠팔,"22,000","2,200","5,000","341,704","370,904(3.34)","2,090",330,"209,000"
21,채선당,(주)채선당,"11,000","11,000","10,000","338,439","370,439(3.34)","1,870",330,"187,000"
22,샤브홀리,샤브홀리,"16,500","5,500",0,"339,000","361,000(3.25)","1,980",330,"198,000"
23,가인채샤브샤브&샐러드,(주)가인채,"22,000","5,500","3,000","327,500","358,000(3.23)","2,000",330,"200,000"
24,착한전복,(주)두둑한행복,"11,000","11,000",0,"329,500","351,500(3.17)","1,650",330,"165,000"
25,숟가락반상 마실,마실,"22,000","11,000","5,000","310,937","348,937(3.15)","1,870",330,"187,000"
26,반주(BANJOO),(주)캘리스코,"23,100","3,300","35,000","281,000","342,400(3.09)","5,000",132,"200,000"
27,신선설농탕,(주)쿠드,"55,000",0,"50,000","237,380","342,380(3.09)","3,300",99,"99,000"
28,미소육화,(주)지케이푸드,"11,000","3,300","5,000","307,410","326,710(2.95)","1,540",330,"154,000"
29,본가,(주)더본코리아,"36,960",0,"12,000","276,411","325,371(2.93)","1,705",330,"170,500"
...,...,...,...,...,...,...,...,...,...,...
1196,장충미도왕족발보쌈,(주)미도식품,"3,300",0,"1,000","16,000","20,300(0.18)","3,333",9.9,"10,000"
1197,대사관,청계식품,"1,100",0,500,"18,300","19,900(0.18)","1,340",33,"13,400"
1198,쌀눈쌀 현미누룽지,(주)엄마,"3,300",550,"1,000","14,850","19,700(0.18)",770,16.5,"3,850"
1199,춘부집목살스테끼와껍데기,(주)더푸드상상,"5,500","2,200","3,000","7,920","18,620(0.17)",132,99,"3,960"
1200,인사동직화,(주)미당에프앤비,"11,000",0,"2,000","5,555","18,555(0.17)",165,66,"3,300"
1201,육미명가옛날아우내순대&보쌈,(주)병천아우내식품,"5,500","3,300","3,000","5,700","17,500(0.16)",0,0,0
1202,병천황토방순대,(주)병천아우내식품,"5,500","3,300","3,000","5,700","17,500(0.16)",0,0,0
1203,할매닭발,(유)서빈글로벌,0,0,"2,000","15,000","17,000(0.15)","1,100",33,"11,000"
1204,왔쏘,(주)다드림에프앤비,"13,200","3,300",0,0,"16,500(0.15)",0,0,0
1205,쉐프삼촌,쉐프삼촌,"13,200","3,300",0,0,"16,500(0.15)","1,870",66,"37,400"
1206,인생극장,(주)에이치티코리아,"5,500","5,500","1,000","4,400","16,400(0.15)",0,0,0
1207,바보돼지두마리,돼지두마리 장전점,"5,500","3,300","2,000","4,780","15,580(0.14)","1,650",39.6,"19,800"
1208,족쌈베이크,(주)토담,0,"3,300",0,"12,100","15,400(0.14)",550,33,"5,500"
1209,남천닭갈비,(주)라온에프에스,"6,000","1,000",0,"8,200","15,200(0.14)",120,33,"1,200"
1210,평창동태찌개찜,평창동태찌개찜,"3,300","2,200",0,"9,500","15,000(0.14)",0,99,0
1211,흙에서,정인,"11,000","3,300",300,0,"14,600(0.13)","1,650",33,"16,500"
1212,양평서울해장국 큰아들집,(주)정금F&C,"5,500","3,300","5,000",0,"13,800(0.12)","1,430",99,"42,900"
1213,돈꾸락,돈꾸락,"2,750","2,200","1,000","7,150","13,100(0.12)",0,33,0
1214,보고싶다,(주)에스에이치,"5,500","5,500","2,000",0,"13,000(0.12)","1,650",82.5,"41,250"
1215,약초마을,약초마을 YCM,"11,000",0,"2,000",0,"13,000(0.12)",0,0,0
1216,옛밥사랑,(주)늘솜푸드,"2,200","1,100","1,000","8,560","12,860(0.12)",0,0,0
1217,미스몽도시락,(주)푸드몽,"5,500","2,200","1,000","4,070","12,770(0.12)","1,650",33,"16,500"
1218,바른생갈비,(주)바른푸드,"5,500","3,300","3,000",0,"11,800(0.11)",990,66,"19,800"
1219,양평뚝배기해장국,(주)뉴서진식품,"5,500","2,200","1,000","2,200","10,900(0.10)",0,0,0
1220,불티매운족발,(주)한아름푸드,"4,400","1,100",0,"5,390","10,890(0.10)","1,430",26.4,"11,440"
1221,쉐프돼지,쉐프돼지,"5,500","2,200","3,000",0,"10,700(0.10)","1,650",33,"16,500"
1222,돈푸대,햇빛과 바람,"2,750",0,0,"7,500","10,250(0.09)",175,66,"3,500"
1223,송가네왕족발,송가네식품(주),"3,300","2,200","3,000",0,"8,500(0.08)",0,0,0
1224,통뼈감자탕,(주)명가,"3,300",0,"2,000",0,"5,300(0.05)",0,0,0
1225,바다양푼이 동태탕 찜,(주)예진희알이에프,"3,800",0,0,0,"3,800(0.03)",0,0,0

15

In [46]:
a = []
b = []
c = []

for i in range(0, len(r)) :
    a.extend(r[i])

#    if i%3 == 0 :
#        a.extend(r[i])
#    elif i%3 == 1:
#        b.extend(r[i])
#    else : 
#        c.extend(r[i])
#         upjong = [indus_names_values[count]] * len(r[i])
#         tmp = r[i]
#         tmp ['upjong'] = upjong

In [47]:
tmp_1 = []
tmp_2 = []
tmp_3 = []
for i in range(0, 15):
    tmp = [indus_names_values[i]] * len(r[i])
    tmp_1.extend(tmp)    
#    elif i%3 == 1:
#        tmp = [indus_names_values[int(i/3)]] * len(r[i])
#        tmp_2.extend(tmp)
#    else :         
#        tmp = [indus_names_values[int(i/3)]] * len(r[i])
#        tmp_3.extend(tmp)

In [260]:
len(d), len(tmp_3)

(1228, 4351)

In [50]:
d = pd.DataFrame(a)
d['중분류'] = tmp_1
d.to_csv("2017_3.csv",encoding='utf-8')
d.to_excel("2017_3.xlsx",encoding='utf-8')
#e = pd.DataFrame(b)
#e['중분류'] = tmp_2
#e.to_csv("가맹점.csv",encoding='utf-8')
#f = pd.DataFrame(c)
#f['중분류'] = tmp_3
#f.to_csv("창업 비용.csv",encoding='utf-8')

In [247]:
len(r[0]), len(r[1]), len(r[2])
pd.DataFrame(r[0]).to_excel('가.xlsx')
pd.DataFrame(r[1]).to_excel('나.xlsx')
pd.DataFrame(r[2]).to_excel('다.xlsx')

In [235]:
html=driver.page_source
soup=BeautifulSoup(html,'html.parser')

In [236]:
len(soup.find_all('td'))/6

2046.6666666666667

In [237]:
rows = []
for row in range(int(len(soup.find_all('td'))/6)):
    row1 = []
    
    for i in range(0+(row*6), 6+(row*6)) :
        tmp = soup.find_all('td')[i].get_text()
        tmp = tmp.replace('\n','')
        tmp = tmp.replace('\t','')
        tmp = tmp.replace('\xa0','')

        row1.append(tmp)
    rows.append(row1)

In [238]:
f

,0,1,2,3,4,5,6,7,8,9,중분류
0,평균,-,"8,770","3,798","3,468","94,790","110,828(1.00)","1,650",117,"55,203",한식
1,누들박스,(주)누들박스,"19,800","16,500","20,000","1,143,500","1,199,800(10.83)","2,750",66,"55,000",한식
2,포항물회,햇살바다(주),"5,500","2,200","3,000","760,300","771,000(6.96)","1,650",66,"33,000",한식
3,G글G글오돌구이,(주)나눔에프씨,"11,000","5,500","3,000","731,150","750,650(6.77)","1,760",66,"35,200",한식
4,하누소,(주)하누소푸드시스템,"33,000","1,100","20,000","681,670","735,770(6.64)","2,420",495,"363,000",한식
5,무한한판8.8,(주)조은세상에프앤씨,"11,000","3,300","3,000","634,500","651,800(5.88)","16,500",99,"495,000",한식
6,프리-엠베네치아(PRE-m 베네치아),에프앤에프베네치아,"17,500","5,500","5,000","580,000","608,000(5.49)","2,420",495,"363,000",한식
7,풀잎채,(주)풀잎채,"55,000",0,"10,000","523,689","588,689(5.31)","2,552",379.5,"293,480",한식
8,날마다대박나는집,(주)명진푸드,"5,500","3,300",0,"541,200","550,000(4.96)","2,200",495,"330,000",한식
9,다담골,에프앤에프베네치아,"17,500","5,500","5,000","494,000","522,000(4.71)","2,420",495,"363,000",한식
10,토끼정,(주)토끼정,"33,000","22,000",0,"421,300","476,300(4.30)","3,135",264,"250,800",한식
11,백년갈비,예스람,"22,000","11,000","5,000","407,000","445,000(4.02)","3,300",330,"330,000",한식
12,불끈낙지,예스람,"22,000","11,000","5,000","407,000","445,000(4.02)","3,300",330,"330,000",한식
13,꽃마름,(주)예울에프씨,"16,500","11,000","2,000","395,000","424,500(3.83)","1,300",495,"195,000",한식
14,다담뜰 한식뷔페,(주)다담뜰,"27,500","38,500","10,000","348,150","424,150(3.83)","1,595",429,"207,350",한식
15,엔테이블(nTable),(주)놀부,"10,450","5,500","10,000","397,100","423,050(3.82)","1,936",330,"193,600",한식
16,참한상 쭈꾸미,(주)참한세상,"11,000","5,500","3,000","390,500","410,000(3.70)","1,650",198,"99,000",한식
17,심민속촌,에코푸드(주),"24,200","11,000","20,000","339,900","395,100(3.56)","1,687",495,"253,000",한식
18,일편등심,에스에이치푸드,"5,500","2,200","5,000","376,200","388,900(3.51)","1,760",396,"211,200",한식
19,나정상회,나정상회,"16,500","5,500","30,000","319,000","371,000(3.35)","2,200",330,"220,000",한식
20,육칠팔,(주)육칠팔,"22,000","2,200","5,000","341,704","370,904(3.35)","2,090",330,"209,000",한식
21,채선당,(주)채선당,"11,000","11,000","10,000","338,439","370,439(3.34)","1,870",330,"187,000",한식
22,샤브홀리,샤브홀리,"16,500","5,500",0,"339,000","361,000(3.26)","1,980",330,"198,000",한식
23,가인채샤브샤브&샐러드,(주)가인채,"22,000","5,500","3,000","327,500","358,000(3.23)","2,000",330,"200,000",한식
24,착한전복,(주)두둑한행복,"11,000","11,000",0,"329,500","351,500(3.17)","1,650",330,"165,000",한식
25,숟가락반상 마실,마실,"22,000","11,000","5,000","310,937","348,937(3.15)","1,870",330,"187,000",한식
26,반주(BANJOO),(주)캘리스코,"23,100","3,300","35,000","281,000","342,400(3.09)","5,000",132,"200,000",한식
27,신선설농탕,(주)쿠드,"55,000",0,"50,000","237,380","342,380(3.09)","3,300",99,"99,000",한식
28,미소육화,(주)지케이푸드,"11,000","3,300","5,000","307,410","326,710(2.95)","1,540",330,"154,000",한식
29,본가,(주)더본코리아,"36,960",0,"12,000","276,411","325,371(2.94)","1,705",330,"170,500",한식
...,...,...,...,...,...,...,...,...,...,...,...
1198,장충미도왕족발보쌈,(주)미도식품,"3,300",0,"1,000","16,000","20,300(0.18)","3,333",9.9,"10,000",한식
1199,대사관,청계식품,"1,100",0,500,"18,300","19,900(0.18)","1,340",33,"13,400",한식
1200,쌀눈쌀 현미누룽지,(주)엄마,"3,300",550,"1,000","14,850","19,700(0.18)",770,16.5,"3,850",한식
1201,춘부집목살스테끼와껍데기,(주)더푸드상상,"5,500","2,200","3,000","7,920","18,620(0.17)",132,99,"3,960",한식
1202,인사동직화,(주)미당에프앤비,"11,000",0,"2,000","5,555","18,555(0.17)",165,66,"3,300",한식
1203,육미명가옛날아우내순대&보쌈,(주)병천아우내식품,"5,500","3,300","3,000","5,700","17,500(0.16)",0,0,0,한식
1204,병천황토방순대,(주)병천아우내식품,"5,500","3,300","3,000","5,700","17,500(0.16)",0,0,0,한식
1205,할매닭발,(유)서빈글로벌,0,0,"2,000","15,000","17,000(0.15)","1,100",33,"11,000",한식
1206,쉐프삼촌,쉐프삼촌,"13,200","3,300",0,0,"16,500(0.15)","1,870",66,"37,400",한식
1207,왔쏘,(주)다드림에프앤비,"13,200","3,300",0,0,"16,500(0.15)",0,0,0,한식
1208,인생극장,(주)에이치티코리아,"5,500","5,500","1,000","4,400","16,400(0.15)",0,0,0,한식
1209,바보돼지두마리,돼지두마리 장전점,"5,500","3,300","2,000","4,780","15,580(0.14)","1,650",39.6,"19,800",한식
1210,족쌈베이크,(주)토담,0,"3,300",0,"12,100","15,400(0.14)",550,33,"5,500",한식
1211,남천닭갈비,(주)라온에프에스,"6,000","1,000",0,"8,200","15,200(0.14)",120,33,"1,200",한식
1212,평창동태찌개찜,평창동태찌개찜,"3,300","2,200",0,"9,500","15,000(0.14)",0,99,0,한식
1213,흙에서,정인,"11,000","3,300",300,0,"14,600(0.13)","1,650",33,"16,500",한식
1214,양평서울해장국 큰아들집,(주)정금F&C,"5,500","3,300","5,000",0,"13,800(0.12)","1,430",99,"42,900",한식
1215,돈꾸락,돈꾸락,"2,750","2,200","1,000","7,150","13,100(0.12)",0,33,0,한식
1216,약초마을,약초마을 YCM,"11,000",0,"2,000",0,"13,000(0.12)",0,0,0,한식
1217,보고싶다,(주)에스에이치,"5,500","5,500","2,000",0,"13,000(0.12)","1,650",82.5,"41,250",한식
1218,옛밥사랑,(주)늘솜푸드,"2,200","1,100","1,000","8,560","12,860(0.12)",0,0,0,한식
1219,미스몽도시락,(주)푸드몽,"5,500","2,200","1,000","4,070","12,770(0.12)","1,650",33,"16,500",한식
1220,바른생갈비,(주)바른푸드,"5,500","3,300","3,000",0,"11,800(0.11)",990,66,"19,800",한식
1221,양평뚝배기해장국,(주)뉴서진식품,"5,500","2,200","1,000","2,200","10,900(0.10)",0,0,0,한식
1222,불티매운족발,(주)한아름푸드,"4,400","1,100",0,"5,390","10,890(0.10)","1,430",26.4,"11,440",한식
1223,쉐프돼지,쉐프돼지,"5,500","2,200","3,000",0,"10,700(0.10)","1,650",33,"16,500",한식
1224,돈푸대,햇빛과 바람,"2,750",0,0,"7,500","10,250(0.09)",175,66,"3,500",한식
1225,송가네왕족발,송가네식품(주),"3,300","2,200","3,000",0,"8,500(0.08)",0,0,0,한식
1226,통뼈감자탕,(주)명가,"3,300",0,"2,000",0,"5,300(0.05)",0,0,0,한식
1227,바다양푼이 동태탕 찜,(주)예진희알이에프,"3,800",0,0,0,"3,800(0.03)",0,0,0,한식

In [242]:
data_frame = pd.DataFrame(f)
data_frame.to_csv('k2.csv',encoding='utf-8')

In [243]:
pd.DataFrame(k2)

NameError: name 'k2' is not defined

In [ ]:
html=driver.page_source
soup=BeautifulSoup(html,'html.parser')

In [ ]:
len(soup.find_all('td'))/6

In [ ]:
rows = []
for row in range(int(len(soup.find_all('td'))/6)):
    
    row1 = []
    
    for i in range(0+(row*6), 6+(row*6)) :
        tmp = soup.find_all('td')[i].get_text()
        tmp = tmp.replace('\n','')
        tmp = tmp.replace('\t','')
        tmp = tmp.replace('\xa0','')

        row1.append(tmp)
    rows.extend(row1)

In [ ]:
data_frame = pd.DataFrame(r)
data_frame.to_csv('가나다.csv',encoding='utf-8')

In [ ]:
pd.DataFrame(r)

In [ ]:
rows

In [ ]:
url = list1[0]
html = urlopen(url)
soup = BeautifulSoup(html,'html.parser')

In [ ]:
#가맹본부 일반 현황
row1=[]
for i in range(0,6) :
    tmp = soup.find_all('td')[i].get_text()
#     tmp1 = tmp.split('\r')[1]    
    tmp = tmp.replace('\n','')
    tmp = tmp.replace('\t','')
    tmp = tmp.replace('\xa0','')
    if tmp == '' :
        tmp = tmp.split('\r')[2]
        tmp = tmp.replace('\n','')
        tmp = tmp.replace('\t','')     
    row1.append(tmp)

In [ ]:
row1

In [ ]:
#주소, 사업자유형, 법인등록번호, 사업자등록번호
row2=[]
for i in range(12,16) :
    tmp = soup.find_all('td')[i].get_text()
    tmp1 = tmp.split('\r')[1]    
    tmp1 = tmp1.replace('\n','')
    tmp1 = tmp1.replace('\t','')
    tmp1 = tmp1.replace('\xa0','')
    if tmp1 == '' :
        tmp1 = tmp.split('\r')[2]
        tmp1 = tmp1.replace('\n','')
        tmp1 = tmp1.replace('\t','')
        tmp1 = tmp1.replace('\xa0','')
    row2.append(tmp1)

In [ ]:
#가맹본부 재무상황
row3=[]
for i in range(16,40) :
    tmp = soup.find_all('td')[i].get_text()
    if tmp == '' :
        row3.append(tmp)
        continue
    try :
        tmp1 = tmp.split('\r')[1]    
    except : 
        tmp1 = tmp
    tmp1 = tmp1.replace('\n','')
    tmp1 = tmp1.replace('\t','')
    if tmp1 == '' :
        tmp1 = tmp.split('\r')[2]
        tmp1 = tmp1.replace('\n','')
        tmp1 = tmp1.replace('\t','')    
    row3.append(tmp1)

In [ ]:
#가맹사업 임직원수, 가맹본부 브랜드 및 가맹사업 계열사 수, 가맹사업 개시일
row4=[]
for i in range(40,46) :
    tmp = soup.find_all('td')[i].get_text()
    if tmp == '' :
        row4.append(tmp)
        continue
    try :
        tmp1 = tmp.split('\r')[1]    
    except : 
        tmp1 = tmp
    tmp1 = tmp1.replace('\n','')
    tmp1 = tmp1.replace('\t','')
    if tmp1 == '' :
        tmp1 = tmp.split('\r')[2]
        tmp1 = tmp1.replace('\n','')
        tmp1 = tmp1.replace('\t','')    
    row4.append(tmp1)
row4

In [ ]:
#그외
row5=[]
for i in range(46,len(soup.find_all('td'))) :
    tmp = soup.find_all('td')[i].get_text()
    tmp = tmp.replace('\n','')
    tmp = tmp.replace('\t','')
    tmp = tmp.replace('\r','')
    tmp = tmp.replace('\xa0','')    
    row5.append(tmp)
row5